<ion-view view-title="New learning Goal">
  <ion-content>
    <ion-input class="item-input item item-stacked-label">
      <span>
        What do you want to learn?
      </span>
      <input type="text" placeholder="i.e. cooking, coding, algebra">
    </ion-input>
  </ion-content>
  <ion-footer-bar class="bar-footer bar-balanced bar">
    <button class="button button-clear" ui-sref="goals">
      <i class="icon assertive">Cancel</i>
    </button>
    <button class="button button-clear pull-right" ui-sref="subgoals">
      <i>Next</i>
    </button>
  </ion-footer-bar>
</ion-view>
