<ion-view view-title="Learning Goals" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button-clear" ui-sref="login">
      <i class="icon assertive ion-power"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button-clear" ui-sref="goal">
      <i class="icon positive ion-android-add"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="goal in goals" ui-sref="tasks">
        {{goal.name}}
      </ion-item>
    </ion-list>

  </ion-content>
  <ion-footer-bar class="bar-footer bar-balanced bar">
  </ion-footer-bar>
</ion-view>
