<ion-view view-title="Focus">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="subgoal in goal.subgoals">
        {{subgoal.name}}
        <ion-option-button class="button-assertive" ng-click="removeItem(subgoal)">
          Remove
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
  <ion-footer-bar class="bar-footer bar-balanced bar">
    <button class="button button-clear" ui-sref="goals">
      <i class="icon assertive">Cancel</i>
    </button>
    <button class="button button-clear pull-right" ui-sref="task">
      <i>Next</i>
    </button>
  </ion-footer-bar>
</ion-view>
